:root{
    --bg-color: #e0dfdf3a;    
    --text-color: #5b5959;
    --header-footer-bg:#efefef; 
    --header-footer-text: #373333bf;
    --accent-color:#29b1c665;
    --btn-color: #f6f5f5;

    --h1-size: 30px;
    --h2-size: 22px;
    --li-a-p-input-h3-size: 15px;
    --btn-size: 13px;
    --result-size: 25px;
    --mainHead-size: 50px;
    --mainP-size: 20px;
    --DKbtn-size: 23px;
}

body.dark-mode {
    --bg-color:#080808;
    --text-color: #ffffff93;
    --header-footer-bg:#101010; 
    --header-footer-text:#514d4d6f;
    --accent-color:#4c9511;
    --btn-color: #f6f5f5;
}


html, body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100px;
    width: 100%;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 15);
    margin-top: 0px;
    padding: 0;
    background-color: var(--header-footer-bg);
}

footer{
    background-color: var(--header-footer-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    min-height: 100px;
    width: 100%;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 15);
    margin-bottom: 0px;
} 

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100px;
    font-size: var(--mainP-size);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 15px;
    border-radius: 80px;
    padding: 10px 20px;
    transition: all 0.5s ease;
    letter-spacing: 1.3px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.3);
}

nav button#toggle-dark-mode {
    background: none;
    border: 2px solid;
    border-radius: 70px;
    font-size: var(--DKbtn-size);
    padding: 5px 20px;
    cursor: pointer;
    color: var(--header-footer-text);
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
}

nav button#toggle-dark-mode:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

a {
    color: var(--header-footer-text);
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.5);
    color: var(--accent-color);
    transform: scale(1.5);
}

.active {
    color: var(--accent-color);
    text-decoration: none;
}

main {
    flex: 1;
    padding-top: 100px;    
}

.burgerBar {
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px 30px;
    color: var(--accent-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999px;
    backdrop-filter: blur(25px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    background-color:var(--bg-color);
}

.burgerBar li {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
}

.burgerBar a {
    width: 100%;
}

.stripes-icon {
    font-size: var(--h1-size);
    color: var(--accent-color);
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.x-icon { 
    font-size: var(--h1-size);
    color: var(--accent-color);
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

@media (max-width: 400px) {
    .burgerBar {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hideOnMobile {
        display: none;
    }

    .stripes-icon {
        display: block;
    }

    .x-icon {
        display: block;
    }
}