.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
    text-align: center;
}

h3 {
    font-size: var(--h3-size);
}

.hero-content .btn {
    display: inline-block;
    background-color: var(--accent-color);
    text-decoration: none;
    font-size: var(--btn-size);
    border-radius: 10px;
    margin-top: 10px;
    padding: 12px 24px;
    color: var(--btn-color);
    box-shadow: 0 4px 10px rgba(48, 45, 45, 0.795);
    transition: transform 0.3 ease;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    text-align: center;
}

.cta-column-left {
    flex: 1 1 350px;
    margin: 15px;
    margin-bottom: 45px;
    padding: 18px;
    background-color: var(--header-footer-bg);
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.cta-column-right {
    flex: 1 1 350px;
    margin: 15px;
    margin-bottom: 45px;
    padding: 18px;
    background-color: var(--header-footer-bg);
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.cta .btn:hover{
    transform: scale(1.05);
}

.cta-column-left:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: var(--accent-color);
}

.cta-column-right:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: var(--accent-color);
}

.cta-column-left a:hover {
    transform: scale(1.05);
    color: var(--accent-color);
}

.cta-column-right a:hover {
    transform: scale(1.05);
    color: var(--accent-color);
}

.cta-img {
    width: 300px;
    height: 190px;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}