.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 100px 40px 40px;
}

.hero-content-left {
    flex: 1 1 300px;
    text-align: left;
}

.hero-content-left h1 {
    font-size: 50px;
    margin: 15px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content-left p {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 0.8px;
}

.hero-content-left .btn {
    display: inline-block;
    background-color: var(--accent-color);
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 12px 24px;
    color: var(--btn-color);
    box-shadow: 0 4px 10px rgba(48, 45, 45, 0.795);
    transition: transform 0.3 ease;
}

.hero-content-left .btn:hover{
    transform: scale(1.05);
}

.hero-image-center {
    flex: 0 0 250px;
    text-align: center;
}

.hero-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.cta-hero-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    gap: 30px;
}


.cta-column-square {
    background-color: var(--header-footer-bg);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    transition: transform 0.3 ease;
    text-align: center;
}


.cta-column-square:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: var(--accent-color);
}

.cta-column-square a:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: var(--accent-color);
}

.cta-column-square h2 {
    color: var(--text-color);
    margin-bottom: 15px;
    font-size: 25px;
}

.cta-column-square h3, .cta-column-square p, .cta-column-square a {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.cta-column-square p, .cta-column-square a {
    color: var(--text-color);
}