main section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.5;
}

main h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

main h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

main ul {
    padding-left: 20px;
    list-style-type: square;
}

main li {
    margin-bottom: 10px;
}

main p {
    margin-top:  30px;
    font-style: italic;
}
